@layer base, starlight, rapide, theme, components, utilities,  my-overrides;
@import '@astrojs/starlight-tailwind';
@import 'tailwindcss';
@import '@fontsource-variable/geist-mono';

.font-geist {
  font-family: 'Geist Mono Variable', monospace;
}

:root {
  /* @link https://utopia.fyi/type/calculator?c=360,28,1.2,2180,72,1.25,0,0,&s=0.5,1.5|2|3|4|6,&g=s,l,xl,12 */
  /* text-size-0: 10px → 14px */
  --text-size-0: clamp(0.625rem, 0.5755rem + 0.2198vw, 0.875rem);
  /* text-size-1: 14px → 18px */
  --text-size-1: clamp(0.875rem, 0.8255rem + 0.2198vw, 1.125rem);
  /* text-size-2: 16px → 22px */
  --text-size-2: clamp(1rem, 0.9258rem + 0.3297vw, 1.375rem);
  /* heading-1: 28px → 72px */
  --heading-size-1: clamp(1.75rem, 1.206rem + 2.4176vw, 4.5rem);
  /* heading-2: 24px → 40px */
  --heading-size-2: clamp(1.25rem, 1.0027rem + 1.0989vw, 2.5rem);

  /* Space xs: 4px → 6px */
  --space-xs: clamp(0.25rem, 0.2253rem + 0.1099vw, 0.375rem);
  /* Space s: 8px → 12px */
  --space-s: clamp(0.5rem, 0.4505rem + 0.2198vw, 0.75rem);
  /* Space m: 12px → 18px */
  --space-m: clamp(0.75rem, 0.6758rem + 0.3297vw, 1.125rem);
  /* Space l: 16px → 24px */
  --space-l: clamp(1rem, 0.9011rem + 0.4396vw, 1.5rem);
  /* Space xl: 24px → 36px */
  --space-xl: clamp(1.5rem, 1.3516rem + 0.6593vw, 2.25rem);
  /* Space 2xl: 32px → 48px */
  --space-2xl: clamp(2rem, 1.8022rem + 0.8791vw, 3rem);
  /* Space 3xl: 48px → 72px */
  --space-3xl: clamp(3rem, 2.7033rem + 1.3187vw, 4.5rem);

  /* One-up pairs */
  /* Space xs-s: 4px → 12px */
  --space-xs-s: clamp(0.25rem, 0.1511rem + 0.4396vw, 0.75rem);
  /* Space s-m: 8px → 18px */
  --space-s-m: clamp(0.5rem, 0.3764rem + 0.5495vw, 1.125rem);
  /* Space m-l: 12px → 24px */
  --space-m-l: clamp(0.75rem, 0.6016rem + 0.6593vw, 1.5rem);
  /* Space l-xl: 16px → 36px */
  --space-l-xl: clamp(1rem, 0.7527rem + 1.0989vw, 2.25rem);
  /* Space xl-2xl: 24px → 48px */
  --space-xl-2xl: clamp(1.5rem, 1.2033rem + 1.3187vw, 3rem);
  /* Space 2xl-3xl: 32px → 72px */
  --space-2xl-3xl: clamp(2rem, 1.5055rem + 2.1978vw, 4.5rem);
}

@layer my-overrides {
  :root[data-theme='dark'] {
    --sl-hue-base: 45;
    --sl-hue-orange: 84;
    --sl-hue-green: 164;
    --sl-hue-blue: 274;
    --sl-hue-purple: 314;
    --sl-hue-red: 13;
    --sl-hue-accent: 45;
  }

  :root[data-theme='light'] {
    --sl-hue-base: 45;
    --sl-hue-orange: 84;
    --sl-hue-green: 164;
    --sl-hue-blue: 274;
    --sl-hue-purple: 314;
    --sl-hue-red: 13;
    --sl-hue-accent: 45;
  }

  /**
   * Dark mode
   */
  :root,
  ::backdrop {
    --sl-color-white: oklch(90% 0.008 var(--sl-hue-base));
    --sl-color-gray-1: oklch(80% 0.018 var(--sl-hue-base));
    --sl-color-gray-2: oklch(80% 0.018 var(--sl-hue-base));
    --sl-color-gray-3: oklch(65% 0.013 var(--sl-hue-base));
    --sl-color-gray-4: oklch(48% 0.009 var(--sl-hue-base));
    --sl-color-gray-5: oklch(29% 0.005 var(--sl-hue-base));
    --sl-color-gray-6: oklch(23% 0.004 var(--sl-hue-base));
    --sl-color-gray-7: oklch(20.5% 0.002 var(--sl-hue-base));
    --sl-color-black: oklch(18% 0.002 var(--sl-hue-base));

    --sl-color-orange-low: oklch(24% 0.01 var(--sl-hue-orange));
    --sl-color-orange: oklch(62% 0.115 var(--sl-hue-orange));
    --sl-color-orange-high: oklch(92% 0.062 var(--sl-hue-orange));
    --sl-color-orange-accent: oklch(96% 0.04 var(--sl-hue-orange));
    --sl-color-orange-accent-invert: oklch(79% 0.162 var(--sl-hue-orange));
    --sl-color-orange-alt: oklch(25.5% 0.01 var(--sl-hue-orange));
    --sl-color-orange-alt-invert: oklch(42% 0.042 var(--sl-hue-orange));

    --sl-color-green-low: oklch(20% 0.018 var(--sl-hue-green));
    --sl-color-green: oklch(61% 0.115 var(--sl-hue-green));
    --sl-color-green-high: oklch(86% 0.054 var(--sl-hue-green));
    --sl-color-green-accent: oklch(93% 0.054 var(--sl-hue-green));
    --sl-color-green-accent-invert: oklch(66% 0.14 var(--sl-hue-green));

    --sl-color-blue-low: oklch(20% 0.02 var(--sl-hue-blue));
    --sl-color-blue: oklch(56% 0.181 var(--sl-hue-blue));
    --sl-color-blue-high: oklch(86% 0.054 var(--sl-hue-blue));
    --sl-color-blue-accent: oklch(89% 0.05 var(--sl-hue-blue));
    --sl-color-blue-accent-invert: oklch(66% 0.154 var(--sl-hue-blue));
    --sl-color-blue-alt: oklch(21.5% 0.02 var(--sl-hue-blue));
    --sl-color-blue-alt-invert: oklch(36% 0.034 var(--sl-hue-blue));

    --sl-color-purple-low: oklch(22% 0.012 var(--sl-hue-purple));
    --sl-color-purple: oklch(59% 0.166 var(--sl-hue-purple));
    --sl-color-purple-high: oklch(86% 0.053 var(--sl-hue-purple));
    --sl-color-purple-accent: oklch(92% 0.05 var(--sl-hue-purple));
    --sl-color-purple-accent-invert: oklch(66% 0.153 var(--sl-hue-purple));
    --sl-color-purple-alt: oklch(23.5% 0.012 var(--sl-hue-purple));
    --sl-color-purple-alt-invert: oklch(36% 0.033 var(--sl-hue-purple));

    --sl-color-red-low: oklch(20% 0.018 var(--sl-hue-red));
    --sl-color-red: oklch(44% 0.151 var(--sl-hue-red));
    --sl-color-red-high: oklch(87% 0.05 var(--sl-hue-red));
    --sl-color-red-accent: oklch(92% 0.04 var(--sl-hue-red));
    --sl-color-red-accent-invert: oklch(67% 0.15 var(--sl-hue-red));
    --sl-color-red-alt: oklch(21.5% 0.018 var(--sl-hue-red));
    --sl-color-red-alt-invert: oklch(37% 0.03 var(--sl-hue-red));

    --sl-color-accent-low: oklch(88% 0.18 var(--sl-hue-accent));
    --sl-color-accent: oklch(85% 0.18var (--sl-hue-accent));
    --sl-color-accent-high: oklch(80% 0.2 var(--sl-hue-accent));

    --sl-color-bg-nav: var(--sl-color-black);
    --sl-color-bg-sidebar: var(--sl-color-black);
    --sl-color-backdrop-overlay: oklch(24% 0.002 var(--sl-hue-base) / 0.7);

    --sl-rapide-ui-bg-color: oklch(18% 0 0);
    --sl-rapide-ui-header-bg-color: oklch(18% 0.002 var(--sl-hue-base) / 0.8);
    --sl-rapide-ui-border-color: oklch(28% 0.004 var(--sl-hue-base));

    --sl-rapide-ec-marker-bg-color: oklch(27% 0.002 var(--sl-hue-base));
    --sl-rapide-ec-marker-border-color: oklch(47% 0.002 var(--sl-hue-base));
  }

  /**
   * Light mode
   */
  :root[data-theme='light'],
  [data-theme='light'] ::backdrop {
    --sl-color-white: oklch(30% 0.015 var(--sl-hue-base));
    --sl-color-gray-1: oklch(36% 0.018 var(--sl-hue-base));
    --sl-color-gray-2: oklch(36% 0.018 var(--sl-hue-base));
    --sl-color-gray-3: oklch(44% 0.013 var(--sl-hue-base));
    --sl-color-gray-4: oklch(66% 0.013 var(--sl-hue-base));
    --sl-color-gray-5: oklch(88% 0.009 var(--sl-hue-base));
    --sl-color-gray-6: oklch(90% 0.004 var(--sl-hue-base));
    --sl-color-gray-7: oklch(96% 0.003 var(--sl-hue-base));
    --sl-color-black: oklch(98% 0.002 var(--sl-hue-base));

    --sl-color-orange-low: oklch(96% 0.02 var(--sl-hue-orange));
    --sl-color-orange: oklch(74% 0.15 var(--sl-hue-orange));
    --sl-color-orange-high: oklch(44% 0.09 var(--sl-hue-orange));
    --sl-color-orange-accent: oklch(42% 0.08 var(--sl-hue-orange));
    --sl-color-orange-accent-invert: oklch(52% 0.15 var(--sl-hue-orange));
    --sl-color-orange-alt: oklch(95% 0.03 var(--sl-hue-orange));
    --sl-color-orange-alt-invert: oklch(78% 0.06 var(--sl-hue-orange));

    --sl-color-green-low: oklch(96% 0.01 var(--sl-hue-green));
    --sl-color-green: oklch(66% 0.14 var(--sl-hue-green));
    --sl-color-green-high: oklch(43% 0.09 var(--sl-hue-green));
    --sl-color-green-accent: oklch(36% 0.07 var(--sl-hue-green));
    --sl-color-green-accent-invert: oklch(50% 0.1 var(--sl-hue-green));

    --sl-color-blue-low: oklch(95% 0.02 var(--sl-hue-blue));
    --sl-color-blue: oklch(66% 0.15 var(--sl-hue-blue));
    --sl-color-blue-high: oklch(40% 0.102 var(--sl-hue-blue));
    --sl-color-blue-accent: oklch(35% 0.1 var(--sl-hue-blue));
    --sl-color-blue-accent-invert: oklch(52% 0.2 var(--sl-hue-blue));
    --sl-color-blue-alt: oklch(93% 0.03 var(--sl-hue-blue));
    --sl-color-blue-alt-invert: oklch(77% 0.05 var(--sl-hue-blue));

    --sl-color-purple-low: oklch(95% 0.02 var(--sl-hue-purple));
    --sl-color-purple: oklch(66% 0.15 var(--sl-hue-purple));
    --sl-color-purple-high: oklch(40% 0.102 var(--sl-hue-purple));
    --sl-color-purple-accent: oklch(35% 0.1 var(--sl-hue-purple));
    --sl-color-purple-accent-invert: oklch(52% 0.2 var(--sl-hue-purple));
    --sl-color-purple-alt: oklch(93% 0.03 var(--sl-hue-purple));
    --sl-color-purple-alt-invert: oklch(77% 0.05 var(--sl-hue-purple));

    --sl-color-red-low: oklch(95% 0.01 var(--sl-hue-red));
    --sl-color-red: oklch(66% 0.15 var(--sl-hue-red));
    --sl-color-red-high: oklch(42% 0.13 var(--sl-hue-red));
    --sl-color-red-accent: oklch(38% 0.15 var(--sl-hue-red));
    --sl-color-red-accent-invert: oklch(52% 0.2 var(--sl-hue-red));
    --sl-color-red-alt: oklch(94% 0.02 var(--sl-hue-red));
    --sl-color-red-alt-invert: oklch(78% 0.04 var(--sl-hue-red));

    --sl-color-accent-low: oklch(75% 0.018 var(--sl-hue-accent));
    --sl-color-accent: oklch(72% 0.15 var(--sl-hue-accent));
    --sl-color-accent-high: oklch(65% 0.17 var(--sl-hue-accent));

    --sl-color-backdrop-overlay: oklch(84% 0.003 var(--sl-hue-base) / 0.7);

    --sl-rapide-ui-bg-color: oklch(100% 0 0);
    --sl-rapide-ui-header-bg-color: oklch(98% 0.002 var(--sl-hue-base) / 0.7);
    --sl-rapide-ui-border-color: oklch(88% 0.004 var(--sl-hue-base));

    --sl-rapide-ec-marker-bg-color: oklch(93% 0.002 var(--sl-hue-base));
    --sl-rapide-ec-marker-border-color: oklch(62% 0.002 var(--sl-hue-base));
  }

  /**
   * Custom styles
   */
  .text-0 {
    font-size: var(--text-size-0);
  }
  .text-1 {
    font-size: var(--text-size-1);
  }
  .text-2 {
    font-size: var(--text-size-2);
  }
  .heading-1 {
    font-size: var(--heading-size-1);
  }
  .heading-2 {
    font-size: var(--heading-size-2);
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 0.5rem;
}

.top-stripes {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 7px,
    oklch(0.3 0.015 268) 1px,
    oklch(0.3 0.015 268) 8px
  );
  border-top: 1px solid oklch(0.3 0.015 268);
  border-bottom: 1px solid oklch(0.3 0.015 268);
}
