---

---

<script>
  import { animate, stagger } from 'animejs'

  // Define keyframes for .animae-text animation
  const textAnimationKeyframes = {
    translateY: [
      { to: '-0.3rem', ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: '-0.3rem', ease: 'inQuad', duration: 3600 },
      { to: 0, ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 0, ease: 'inQuad', duration: 3600 },
    ],
    opacity: [
      { to: 0, ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 0, ease: 'inQuad', duration: 3600 },
      { to: 1, ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 1, ease: 'inQuad', duration: 3600 },
    ],
    rotateX: [
      { to: 80, ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 80, ease: 'inQuad', duration: 3600 },
      { to: 0, ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 0, ease: 'inQuad', duration: 3600 },
    ],
    filter: [
      { to: 'blur(2px)', ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 'blur(2px)', ease: 'inQuad', duration: 3600 },
      { to: 'blur(0px)', ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 'blur(0px)', ease: 'inQuad', duration: 3600 },
    ],
  }

  // Define keyframes for .animae-text-2 animation
  const text2AnimationKeyframes = {
    opacity: [
      { to: 0, ease: 'inQuad', duration: 400 },
      { to: 1, ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 1, ease: 'inQuad', duration: 2800 },
      { to: 0, ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 0, ease: 'inQuad', duration: 4000 },
    ],
    translateY: [
      { to: '0.3rem', ease: 'inQuad', duration: 400 },
      { to: 0, ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 0, ease: 'inQuad', duration: 2800 },
      { to: '0.3rem', ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: '0.3rem', ease: 'inQuad', duration: 4000 },
    ],
    rotateX: [
      { to: 80, ease: 'inQuad', duration: 400 },
      { to: 0, ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 0, ease: 'inQuad', duration: 2800 },
      { to: 80, ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 80, ease: 'inQuad', duration: 4000 },
    ],
    filter: [
      { to: 'blur(2px)', ease: 'inQuad', duration: 400 },
      { to: 'blur(0px)', ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 'blur(0px)', ease: 'inQuad', duration: 2800 },
      { to: 'blur(2px)', ease: 'inQuad', duration: 400, delay: stagger(50) },
      { to: 'blur(2px)', ease: 'inQuad', duration: 4000 },
    ],
  }
  animate(document.querySelectorAll('.animae-text'), {
    ...textAnimationKeyframes,
    loop: true,
  })

  animate(document.querySelectorAll('.animae-text-2'), {
    ...text2AnimationKeyframes,
    loop: true,
  })
</script>

<div
  class="h-screen min-h-[40rem] px-4 flex flex-col gap-12 items-center justify-center text-center bg-[url(/bg.webp)] bg-cover bg-no-repeat bg-center m-0"
>
  <div class="flex flex-col gap-2 items-center justify-center text-center">
    <h1
      class="text-3xl/10 sm:text-5xl/12 xl:text-6xl/16 font-bold text-white m-0"
    >
      Smart AI Summaries<br />to Save Your Time
    </h1>
    <p class="sm:text-lg max-w-2xl md:text-xl text-gray-400 m-0 text-balance">
      Powerful AI extension for summarize YouTube videos, Reddit threads,
      Facebook posts, e-commerce reviews, news articles, and much more.
    </p>
  </div>
  <div>
    <div class="flex flex-col md:flex-row gap-4">
      <a
        href="#"
        class="flex gap-1.5 justify-center items-center bg-gray-100/90 text-gray-800 py-2 px-6 pl-5 shadow-[inset_0_1px_2px_#fff] rounded-full hover:bg-white transition duration-300"
      >
        <svg
          class="w-6 h-6 text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M21.436 8.695h-6.815a4.21 4.21 0 0 1 .828 5.735l-4.217 7.536c.256.02.512.035.769.034c5.52-.005 9.995-4.479 10-10a9.9 9.9 0 0 0-.565-3.305"
          ></path>
          <path
            fill="currentColor"
            d="M11.986 16.22a4.2 4.2 0 0 1-2.095-.563a4.24 4.24 0 0 1-1.547-1.547a4 4 0 0 1-.221-.448L3.808 6.278a10 10 0 0 0-1.728 4.47a9.993 9.993 0 0 0 8.2 11.098l3.33-5.948a4.2 4.2 0 0 1-1.624.321"
          ></path>
          <path
            fill="currentColor"
            d="M9.889 8.347a4.22 4.22 0 0 1 2.565-.541h8.616a10 10 0 0 0-2.959-3.72C13.87.808 7.828 1.474 4.392 5.516l3.434 5.877c.18-1.233.9-2.375 2.063-3.046"
          ></path>
          <path
            fill="currentColor"
            d="M9.073 10.313a3.378 3.378 0 1 0 4.617-1.236a3.4 3.4 0 0 0-1.68-.452h-.002a3.37 3.37 0 0 0-2.935 1.688"
          ></path>
        </svg>
        <div class="grid grid-cols-1 grid-rows-1 m-0">
          <div class="flex col-start-1 row-start-1">
            <span class="animae-text">I</span>
            <span class="animae-text">n</span>
            <span class="animae-text">s</span>
            <span class="animae-text">t</span>
            <span class="animae-text">a</span>
            <span class="animae-text">l</span>
            <span class="animae-text">l</span>
            <span class="animae-text">&nbsp;</span>
            <span class="animae-text">n</span>
            <span class="animae-text">o</span>
            <span class="animae-text">w</span>
          </div>
          <div class="flex col-start-1 row-start-1 m-0">
            <span class="animae-text-2 opacity-0">I</span>
            <span class="animae-text-2 opacity-0">n</span>
            <span class="animae-text-2 opacity-0">s</span>
            <span class="animae-text-2 opacity-0">t</span>
            <span class="animae-text-2 opacity-0">a</span>
            <span class="animae-text-2 opacity-0">l</span>
            <span class="animae-text-2 opacity-0">l</span>
            <span class="animae-text-2 opacity-0">&nbsp;</span>
            <span class="animae-text-2 opacity-0">n</span>
            <span class="animae-text-2 opacity-0">o</span>
            <span class="animae-text-2 opacity-0">w</span>
          </div>
        </div>
      </a>
      <a
        href="#"
        class="bg-gray-800 text-white border border-gray-700 py-2 px-6 rounded-full shadow-lg hover:bg-gray-700 hover:border-gray-300 transition duration-300"
      >
        Explore Features
      </a>
    </div>
    <p class="font-geist text-xs text-gray-500">
      Free and open source, no sign-up required.
    </p>
    <a
      class="mx-auto mt-16 flex w-fit text-xs text-gray-300 px-3 py-1 border border-gray-700 hover:border-gray-500 rounded-full shadow-none shadow-amber-950 hover:shadow-lg transition duration-300"
      href="/guides/example/"
      >Learn Usage and Best Practices <span
        ><svg
          class="w-4 h-4 ml-1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            d="M6 12.4h12M12.6 7l5.4 5.4l-5.4 5.4"></path>
        </svg></span
      ></a
    >
  </div>
</div>

<style is:global>
  :root {
    color-scheme: dark;
  }
  body {
    background-color: #070707;
  }
  .animae-text,
  .animae-text-2 {
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(255, 255, 255 0.75);
  }
</style>
