<div
  class="h-screen w-full px-32 min-h-[40rem] max-h-[68rem] flex flex-col gap-8 items-center justify-center text-center"
>
  <h2 class="text-lg/8 flex flex-col text-white m-0 w-2xl">
    One Click Summarization <span class="text-gray-400">
      Youtube Video with General & Chapters</span
    >
  </h2>
  <div
    class="w-full max-w-7xl max-h-[52rem] grid grid-cols-[2rem_2fr_1fr_2rem] grid-rows-[2rem_1fr_2rem] relative h-full md:text-xl m-0"
  >
    <div
      class="col-start-3 row-start-1 col-end-4 row-end-4 right-0 z-10 border h-full min-w-[22rem] bg-gray-900 shadow-2xl shadow-orange-950 border-gray-700 rounded-3xl p-1.5"
    >
      <div
        class="w-full h-full border bg-gray-950 border-gray-700 overflow-hidden rounded-2xl"
      >
        <div class="grid grid-rows-[32px_10px_180px_10px_1fr] h-full relative">
          <div class="flex m-0 justify-center items-center w-full h-full">
            <div class="text-gray-400">
              <div class="line-clamp-1 text-[0.75rem] px-2 m-0">
                Youtube tab title
              </div>
            </div>
          </div>

          <div
            class="top-stripes m-0 flex justify-center items-center w-full h-full"
          >
          </div>

          <div
            class="flex m-0 font-geist flex-col gap-1 justify-center items-center"
          >
            <button
              class="p-4 pl-4 pr-6 overflow-hidden text-black bg-white flex items-center rounded-full gap-2 w-fit h-12"
            >
              <div class="size-6 m-0 text-[#f76b15]">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill="currentColor"
                    d="M7.53 1.282a.5.5 0 0 1 .94 0l.478 1.306a7.5 7.5 0 0 0 4.464 4.464l1.305.478a.5.5 0 0 1 0 .94l-1.305.478a7.5 7.5 0 0 0-4.464 4.464l-.478 1.305a.5.5 0 0 1-.94 0l-.478-1.305a7.5 7.5 0 0 0-4.464-4.464L1.282 8.47a.5.5 0 0 1 0-.94l1.306-.478a7.5 7.5 0 0 0 4.464-4.464Z"
                  ></path>
                </svg>
              </div>
              <div class="flex col-start-1 row-start-1 gap-px m-0">
                <span>S</span>
                <span>u</span>
                <span>m</span>
                <span>m</span>
                <span>a</span>
                <span>r</span>
                <span>i</span>
                <span>z</span>
                <span>e</span>
              </div>
            </button>
          </div>

          <div
            class="top-stripes m-0 flex justify-center items-center w-full h-full"
          >
          </div>

          <div>dsadasdad</div>

          <div
            class="absolute bg-linear-to-t from-background to-background/40 bottom-0 mask-t-from-50% h-16 backdrop-blur-[2px] w-full z-30 pointer-events-none"
          >
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg-gray-800 grid grid-rows-[2rem_1fr] col-start-2 row-start-2 col-end-4 row-end-3 m-0 border rounded-3xl overflow-hidden border-gray-700"
    >
      <div class="border-b flex border-white/5 bg-black/15 m-0">
        <div class="flex justify-center items-center gap-2 px-4">
          <span class="size-2.5 block bg-white/10 rounded-full"></span>
          <span class="size-2.5 block bg-white/10 rounded-full"></span>
          <span class="size-2.5 block bg-white/10 rounded-full"></span>
        </div>
      </div>
      <div class="m-0"></div>
    </div>
  </div>
</div>
