---
import Broser from './section1/browser.svelte'
---

<div
  class="h-screen w-full px-[var(--space-l-xl)] min-h-[40rem] max-h-[68rem] flex flex-col gap-8 items-center justify-center text-center"
>
  <h2 class="text-2 flex flex-col text-white max-w-2xl">
    One Click Summarization <span class="text-gray-400">
      Youtube Video with General & Chapters</span
    >
  </h2>
  <Broser client:load />
</div>
