<div
  class="h-screen flex flex-col gap-8 items-center justify-center text-center"
>
  <h2 class="text-lg/8 text-white m-0 w-2xl">Comment Summarization</h2>
  <div class="max-w-2xl md:text-xl m-0">
    <div
      class="border w-96 h-[42rem] bg-gray-900 shadow-2xl shadow-orange-950 border-gray-700 rounded-3xl p-1.5"
    >
      <div
        class="w-full h-full border bg-gray-950 border-gray-700 overflow-hidden rounded-2xl"
      >
        <div class="grid grid-rows-[32px_10px_180px_10px_1fr] h-screen">
          <div class="flex m-0 justify-center items-center w-full h-full">
            <div class="text-gray-400">
              <div class="line-clamp-1 text-[0.75rem] px-2">
                Comment Summarization
              </div>
            </div>
          </div>

          <div
            class="top-stripes m-0 flex justify-center items-center w-full h-full"
          >
          </div>

          <div
            class="flex m-0 font-mono flex-col gap-1 justify-center items-center"
          >
          </div>

          <div
            class="top-stripes m-0 flex justify-center items-center w-full h-full"
          >
          </div>

          <div>dsadasdad</div>

          <div
            class="fixed bg-linear-to-t from-background to-background/40 bottom-0 mask-t-from-50% h-16 backdrop-blur-[2px] w-full z-30 pointer-events-none"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
